@model CAPEX_Web.FilterConfig

@{
    ViewBag.Title = "REPORT_Vew";
}

<h2>REPORT_Vew</h2>

<head runat="server">

       <meta name="viewport" content="width=device-width" />
    <title>View1</title>
         
</head>
<body>
    <div>



    </div>
    
</body>

