@{
    ViewBag.Title = "Acerca De";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Esta aplicación sirve para automatizar el proceso de SOLICITUD de PROYECTOS. Soporta el proceso previo de presupuestación.</p>
