@{
    ViewBag.Title = "Contactos";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Buenos Aires 87<br />
    Paraná, ENTRE RIOS<br />
    <abbr title="Teléfono">P:</abbr>
    343.420.4454
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:eduardo.ettlin@enersa.com.ar">eduardo.ettlin@enersa.com.ar</a><br />
    <strong>CENSU:</strong> <a href="mailto:glpi@enersa.com.ar">glpi@enersa.com.ar</a>
</address>